apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
spec:
  project: infrastructure
  sources:
    - repoURL: https://helm.cilium.io/
      chart: cilium
      targetRevision: 1.18.0
      helm:
        valueFiles:
          - $values/kubernetes/helm-charts/cilium/values.yaml
      
    - repoURL: https://github.com/x64nik/homelab.git
      targetRevision: main
      ref: values
    
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  
  ignoreDifferences:
    - kind: Secret
      name: cilium-ca
      namespace: kube-system
      jsonPointers:
        - /data/ca.crt
        - /data/ca.key
    - kind: Secret
      name: hubble-ca-secret
      namespace: kube-system
      jsonPointers:
         - /data/ca.crt
         - /data/tls.crt
         - /data/tls.key
    # Hubble server certificates
    - kind: Secret
      name: hubble-server-certs
      namespace: kube-system
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
    
    # Hubble relay client certificates
    - kind: Secret
      name: hubble-relay-client-certs
      namespace: kube-system
      jsonPointers:
        - /data/ca.crt
        - /data/tls.crt
        - /data/tls.key
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - RespectIgnoreDifferences=true