

victoria-metrics-single:
  enabled: true
  nameOverride: "victoria-metrics-single"
  server:
    fullnameOverride: "victoria-metrics-single-server"
    scrape:
      enabled: true
      configMap: ""
      config:
        global:
          scrape_interval: 15s
        scrape_configs:
          - job_name: victoriametrics
            static_configs:
              - targets: [ "localhost:8428" ]
          - job_name: "victoriatraces"
            static_configs:
              - targets: ["victoria-traces-single-server:10428"]
            metrics_path: /metrics
            scheme: http
          - job_name: "kubernetes-apiservers"
            kubernetes_sd_configs:
              - role: endpoints
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            relabel_configs:
              - source_labels:
                  [
                    __meta_kubernetes_namespace,
                    __meta_kubernetes_service_name,
                    __meta_kubernetes_endpoint_port_name,
                  ]
                action: keep
                regex: default;kubernetes;https
          - job_name: "kubernetes-nodes"
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubernetes_sd_configs:
              - role: node
            relabel_configs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(.+)
              - target_label: __address__
                replacement: kubernetes.default.svc:443
              - source_labels: [ __meta_kubernetes_node_name ]
                regex: (.+)
                target_label: __metrics_path__
                replacement: /api/v1/nodes/$1/proxy/metrics
          - job_name: "kubernetes-nodes-cadvisor"
            scheme: https
            tls_config:
              ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
              insecure_skip_verify: true
            bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubernetes_sd_configs:
              - role: node
            relabel_configs:
              - action: labelmap
                regex: __meta_kubernetes_node_label_(.+)
              - target_label: __address__
                replacement: kubernetes.default.svc:443
              - source_labels: [ __meta_kubernetes_node_name ]
                regex: (.+)
                target_label: __metrics_path__
                replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
            metric_relabel_configs:
              - action: replace
                source_labels: [pod]
                regex: '(.+)'
                target_label: pod_name
                replacement: '${1}'
              - action: replace
                source_labels: [container]
                regex: '(.+)'
                target_label: container_name
                replacement: '${1}'
              - action: replace
                target_label: name
                replacement: k8s_stub
              - action: replace
                source_labels: [id]
                regex: '^/system\.slice/(.+)\.service$'
                target_label: systemd_service_name
                replacement: '${1}'
          - job_name: "rook-ceph-exporter"
            kubernetes_sd_configs:
              - role: endpoints
                namespaces:
                  names:
                    - rook-ceph
            relabel_configs:
              - source_labels: [__meta_kubernetes_service_name]
                action: keep
                regex: rook-ceph-exporter
              - source_labels: [__meta_kubernetes_namespace]
                target_label: namespace
              - source_labels: [__meta_kubernetes_service_name]
                target_label: service
              - source_labels: [__meta_kubernetes_pod_name]
                target_label: pod
          # nvidia dcgm
          - job_name: 'ultron-nvidia-dcgm-exporter'
            static_configs:
              - targets: ['192.168.0.160:9835']   # <-- host port that maps to the container
            metrics_path: /metrics          # DCGM exporter uses /metrics (not /matric)
            scheme: http                    # change to https if you enable TLS

victoria-logs-single:
  enabled: true
  nameOverride: "victoria-logs-single"
  server:
    fullnameOverride: "victoria-logs-single-server"
    retentionDiskSpaceUsage: 5GB
    persistentVolume:
      enabled: true
      accessModes:
        - ReadWriteOnce
      storageClassName: "ceph-block"
      size: 10Gi
    resources:
      limits:
        cpu: 300m
        memory: 512Mi
  
victoria-logs-collector:
  enabled: true
  nameOverride: "victoria-logs-collector"
  fullnameOverride: "victoria-logs-collector"
  remoteWrite:
    - url: http://victoria-logs-single-server:9428
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"
  nodeSelector:
    # This ensures it runs on all nodes including master
    kubernetes.io/os: linux

victoria-traces-single:
  enabled: true
  nameOverride: "victoria-traces-single"
  server:
    fullnameOverride: "victoria-traces-single-server"
    persistentVolume:
      enabled: true
      accessModes:
        - ReadWriteOnce
      storageClassName: "ceph-block"
      size: 10Gi
    resources:
      limits:
        cpu: 200m
        memory: 512Mi

grafana:
  enabled: true
  fullnameOverride: "grafana"
  nameOverride: "grafana"
  admin:
    existingSecret: "grafana-admin-secret"
    userKey: admin-user
    passwordKey: admin-password
  route:
    main:
      enabled: true
      hostnames:
        - grafana.home.rushidarunte.com
      parentRefs:
        - name: primary-gateway-shared
          namespace: default
          sectionName: http
      matches:
        - path:
            type: PathPrefix
            value: /
      httpsRedirect: true
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: victoriametrics
          type: prometheus
          orgId: 1
          url: http://victoria-metrics-single-server.monitoring.svc.cluster.local:8428
          access: proxy
          isDefault: true
          updateIntervalSeconds: 10
          editable: true
        - name: victorialogs
          type: victoriametrics-logs-datasource
          orgId: 1
          url: http://victoria-logs-single-server.monitoring.svc.cluster.local:9428
          access: proxy
          isDefault: false
          editable: true
        - name: victoriatraces
          type: jaeger
          orgId: 1
          url: http://victoria-traces-single-server.monitoring.svc.cluster.local:10428
          access: proxy
          isDefault: false
          editable: true
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: true
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  dashboards:
    default:
      victoriametrics:
        gnetId: 10229
        revision: 22
        datasource: victoriametrics
      kubernetes:
        gnetId: 14205
        revision: 1
        datasource: victoriametrics
      nvidia-gpu-metrics:
        gnetId: 14574
        revision: 1
        datasource: victoriametrics
      victorialogs:
        json: |
          {{- indent 8 (file "dashboards/kubernetes.json") | nindent 8 }}
  plugins:
    - victoriametrics-logs-datasource

