apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
spec:
  project: infrastructure
  sources:
    - repoURL: https://kubernetes-sigs.github.io/external-dns/
      chart: external-dns
      targetRevision: 1.18.0
      helm:
        valueFiles:
          - $values/kubernetes/helm-charts/external-dns/values.yaml

    - repoURL: https://github.com/x64nik/homelab.git
      targetRevision: main
      ref: values
    
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - ServerSideApply=true