apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: primary-gateway-shared
  annotations:
    cert-manager.io/issuer: wildcard-home-ci
spec:
  gatewayClassName: cilium
  listeners:
  - name: http
    protocol: HTTP
    hostname: "*.home.rushidarunte.com"
    port: 80
    allowedRoutes:
      namespaces:
        from: All
  - name: https
    protocol: HTTPS
    hostname: "*.home.rushidarunte.com"
    port: 443
    allowedRoutes:
      namespaces:
        from: All
    tls:
      mode: Terminate
      certificateRefs:
        - name: wildcard-home-tls